.cookie {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	width: 256px;
	height: 256px;
	cursor: pointer;
	touch-action: manipulation;
	user-select: none;
	transition: width 0.1s, height 0.1s;
}

.cookie:hover {
	margin-left: auto;
	margin-right: auto;
	width: 272px;
	height: 272px;
}

.cookie:active {
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 250px;
}

.cookie-icon {
	image-rendering: pixelated;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.cookie img {
	height: 100%;
	width: 100%;
	image-rendering: pixelated;
	user-select: none;
}

.cookie-wrapper {
	display: flex;
	align-items: center;
	width: 300px;
	height: 300px;
}