.controls {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #ffffff;
    background-color: #000000;
    padding: 1rem;
    align-items: flex-end;
    font-family: sans-serif;
}

.controls, .controls-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.controls-container label {
    margin-right: 0.5em;
}

.controls input[type="range"] {
    width: 100%;
}

.collapse-controls {
    display: none;
}

.collapse-controls-label:hover::before {
    background-color: rgba(255, 255, 255, 0.5);
}

input ~ .collapse-controls-label::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-color: white;
    border-radius: 0.25rem;
    border-width: 0.125rem;
    border-style: solid;
    cursor: pointer;
    background-image: url("/assets/chevron-up.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: white;
}

input:checked ~ .collapse-controls-label::before {
    background-image: url("/assets/chevron-down.svg");
}

input:checked ~ .controls-container {
    display: none;
}

.canvas-container {
    position: relative;
    width: 100vw;
    height: 90vh;
}