@font-face {
	font-family: 'Minecraft';
	src: url("/assets/Minecraft-Font/Minecraft.eot?") format("embedded-opentype"),
	     url("/assets/Minecraft-Font/Minecraft.ttf") format("truetype"),
		 url("/assets/Minecraft-Font/Minecraft.woff") format("woff"),
		 url("/assets/Minecraft-Font/Minecraft.woff2") format("woff2");
		
	font-weight: normal;
}

@font-face {
	font-family: 'Minecraft';
	src: url("/assets/Minecraft-Font/Minecraft-Bold.eot?") format("embedded-opentype"),
	     url("/assets/Minecraft-Font/Minecraft-Bold.ttf") format("truetype"),
		 url("/assets/Minecraft-Font/Minecraft-Bold.woff") format("woff"),
		 url("/assets/Minecraft-Font/Minecraft-Bold.woff2") format("woff2");
		
	font-weight: bold;
	font-style: normal;
}

.info-bubble {
	position: relative;
}

.shadow-line {
	color: #3f3f3f;
}

.empty-line {
  display: block;
  content: "";
  margin-top: 1.625em;
}

.break {
  display: block;
  content: "";
  margin-top: 0.25em;
}

.shadow-line .c-0 {
  color: #000000;
}

.shadow-line .c-1 {
  color: #00002a;
}

.shadow-line .c-2 {
  color: #002a00;
}

.shadow-line .c-3 {
  color: #002a2a;
}

.shadow-line .c-4 {
  color: #2a0000;
}

.shadow-line .c-5 {
  color: #2a002a;
}

.shadow-line .c-6 {
  color: #2a2a00;
}

.shadow-line .c-6-bedrock {
  color: #402a00;
}

.shadow-line .c-7 {
  color: #2a2a2a;
}

.shadow-line .c-8 {
  color: #151515;
}

.shadow-line .c-9 {
  color: #15153f;
}

.shadow-line .c-a {
  color: #153f15;
}

.shadow-line .c-b {
  color: #153f3f;
}

.shadow-line .c-c {
  color: #3f1515;
}

.shadow-line .c-d {
  color: #3f153f;
}

.shadow-line .c-e {
  color: #3f3f15;
}

.shadow-line .c-f {
  color: #3f3f3f;
}

.shadow-line .c-g {
  color: #373501;
}

.c-l {
  font-weight: bold;
}

.c-o {
  font-style: italic;
}

.c-0 {
  color: #000000;
}

.c-1 {
  color: #0000aa;
}

.c-2 {
  color: #00aa00;
}

.c-3 {
  color: #00aaaa;
}

.c-4 {
  color: #aa0000;
}

.c-5 {
  color: #aa00aa;
}

.c-6 {
  color: #ffaa00;
}

.c-6-bedrock {
  color: #ffaa00;
}

.c-7 {
  color: #aaaaaa;
}

.c-8 {
  color: #555555;
}

.c-9 {
  color: #5555ff;
}

.c-a {
  color: #55ff55;
}

.c-b {
  color: #55ffff;
}

.c-c {
  color: #ff5555;
}

.c-d {
  color: #ff55ff;
}

.c-e {
  color: #ffff55;
}

.c-f {
  color: #ffffff;
}

.c-g {
  color: #ddd605;
}

.c-m {
	position: relative;
}

.c-m:after {
    content: '';
    display: block;
    width: calc(100% + 0.125em);
    height: 0;
	margin-top: 0.925em;
    position: absolute;
    top: 0;
    left: -0.125em;
    border-bottom: 0.125em solid;
	z-index: 1;
}

.shadow-line .c-m:after {
    width: calc(100% + 0.125em);
    top: 0;
    left: -0.125em;
    border-bottom: 0.125em solid;
}

.c-m .c-0:after, .c-m .c-1:after, .c-m .c-2:after, .c-m .c-3:after, .c-m .c-4:after, .c-m .c-5:after, .c-m .c-6:after, .c-m .c-7:after, .c-m .c-8:after, .c-m .c-9:after, .c-m .c-a:after, .c-m .c-b:after, .c-m .c-c:after, .c-m .c-d:after, .c-m .c-e:after, .c-m .c-f:after, .c-m .c-g:after, .c-m .c-6-bedrock:after {
    content: '';
    display: block;
    width: calc(100% + 0.125em);
    height: 0;
	margin-top: 0.925em;
    position: absolute;
    top: 0;
    left: -0.125em;
    border-bottom: 0.125em solid;
	z-index: 2;
}

.c-n {
	position: relative;
	text-decoration: underline 0.125em;
	text-underline-offset: 0.125em;
}

.c-n .c-1, .c-n .c-2, .c-n .c-3, .c-n .c-4, .c-n .c-5, .c-n .c-6, .c-n .c-7, .c-n .c-8, .c-n .c-9, .c-n .c-a, .c-n .c-b, .c-n .c-c, .c-n .c-d, .c-n .c-e, .c-n .c-f, .c-n .c-g, .c-n .c-h {
	text-decoration: underline 0.125em;
}

.c-1, .c-2, .c-3, .c-4, .c-5, .c-6, .c-7, .c-8, .c-9, .c-a, .c-b, .c-c, .c-d, .c-e, .c-f, .c-g, .c-h {
	position: relative;
	font-family: Minecraft;
	font-size: 16px;
}

.download-tooltip {
	margin-top: 10px;
}

.item-input, .download-tooltip {
	display: inline-block;
}

.item-input input {
	position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
    display: block;
}

.item-output {
	display: inline-block;
	position: relative;
	margin-top: 15px;
	height: 36px;
}

.output-slot {
	width: 36px;
}

.output-item {
	position: absolute;
	width: 32px;
	top: 2px;
	left: 2px;
}

.output-slot, .output-item {
	image-rendering: pixelated;
}

.item-glow {
	display: none;
	width: 32px;
	height: 32px;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 2;
}

.item-count {
	position: absolute;
	right: 0;
	bottom: 0.7em;
	font-family: Minecraft,"WenQuanYi Bitmap Song",SimSun,Unifont,NISC18030,Beijing,Courier,sans-serif;
	color: #ffffff;
	text-shadow: 0.125em 0.125em 0 #3f3f3f;
	font-size: 16px;
	user-select: none;
	line-height: 0;
	white-space: nowrap;
}

.minecraft-tip, .minecraft-text-output {
	left: 0;
	top: 0;
	border: 0.125em solid transparent;
	background-color: rgba(16,0,16,0.94);
	font-family: Minecraft,"WenQuanYi Bitmap Song",SimSun,Unifont,NISC18030,Beijing,Courier,sans-serif;
	word-spacing: 0.25em;
	margin: 0.125em 0.125em;
	padding: 0 0.375em 0.375em 0.375em;
	line-height: 1.125em;
	white-space: nowrap;
	font-size: 16px;
	text-align: left;
	font-smooth: never;
	-webkit-font-smoothing: none;
	filter: url(#crispify);
}

.offscreen {
    position: absolute;
    left: -100000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.minecraft-tip-container {
  position: fixed;
  z-index: 9999;
  display: none;
  color: #ffffff;
}

.minecraft-text-output, .minecraft-tip {
	position: relative;
	z-index: 10;
	display: inline-block;
	color: #ffffff;
}

.minecraft-text-output::before, .minecraft-tip::before {
  content: '';
  position: absolute;
  top: -0.125em;
  right: -0.250em;
  bottom: -0.125em;
  left: -0.250em;
  border: 0.125em solid rgba(16,0,16,0.94);
  border-style: none solid;
}

.minecraft-text-output::after, .minecraft-tip::after {
  content: '';
  position: absolute;
  top: -0.250em;
  right: -0.125em;
  bottom: -0.250em;
  left: -0.125em;
  border: 0.125em solid rgba(16,0,16,0.94);
  border-style: solid none;
}

.minecraft-text-input {
	min-width: 500px;
	min-height: 80px;
	max-width: 95%;
	font-family: var(--default-font-family);
	padding: 5px;
}

.tip-line {
	display: inline-block;
	position: relative;
	margin: 0;
}

.shadow-line {
	position: absolute;
    left: 0.5em;
    top: 0.125em;
    z-index: -1;
}

.text-line, .shadow-line, .item-count {
	filter: url(#crispify);
}

.c-m .shadow, .c-n .shadow-line {
	top: 0.375em;
}

.k-manager {
	display: none;
}

.text-line {
	position: relative;
	display: inline-block;
}

.shadow-line {
	position: absolute;
	display: inline-block;
	top: 0.125em;
	left: 0.5em;
}

.no-break-space {
	display: inline-block;
	width: 0.75em;
}

.minecraft-background, .minecraft-landscape, .minecraft-background-glow {
	width: 100%;
	background-size: 480px;
	image-rendering: pixelated;
	z-index: -1;
}

.minecraft-background {
	position: relative;
	height: 100vh;
	background-color: #bfa7d4;
	background-image: url("/assets/minecrafttooltips/clouds.png");
	animation: clouds 30s linear infinite;
	text-align: center;
	line-height: 100vh;
}

.minecraft-landscape {
	position: absolute;
	bottom: 0;
	height: 480px;
	background-image: url("/assets/minecrafttooltips/background.png");
}

.minecraft-background-glow {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("/assets/minecrafttooltips/background_glow.png");
}

.minecraft-background-text {
	margin: 0;
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	text-shadow: 0 0 5px #000;
}

.minecraft-background-text h1 {
	margin: 0;
}

.minecraft-text-output-container {
	background: none;
	display: inline-block;
	position: relative;
}

.download-tooltip-wrapper, .download-item-wrapper {
	position: relative;
	display: inline-block;
}

.download-tooltip-wrapper {
	margin-top: 5px;
}

.minecraft-output-border, .minecraft-tip-border {
	display: block;
	position: absolute;
	z-index: 11;
	top: 2px;
	left: 2px;
	padding: 2px;
	height: calc(100% - 8px);
	width: calc(100% - 8px);
	background-image: linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31));
	background-origin: border-box;
	background-repeat: no-repeat;
	clip-path: polygon(0% 0%, 0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%);
}

.download-overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 9999;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: none;
}

.download-overlay-background {
	position: absolute;
	z-index: 9998;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.download-overlay-window {
	position: relative;
	background-color: var(--primary-background-color);
	border-radius: 3px;
	padding: 5px;
	text-align: left;
	z-index: 9999;
	box-shadow: 0 0 5px #000;
}

.dark-mode .download-overlay-window {
	background-color: var(--dark-mode-primary-background-color);
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 400px;
  height: 16px;
  border-radius: 8px;
  background: var(--secondary-background-color);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.dark-mode .slider {
	background: var(--dark-mode-secondary-background-color)
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 24px;
  background: var(--tertiary-background-color);
  border-radius: 4px;
  cursor: ew-resize;
}

.dark-mode .slider::-webkit-slider-thumb {
	background: var(--dark-mode-tertiary-background-color);
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--tertiary-background-color);
  cursor: pointer;
}

.dark-mode .slider::-moz-range-thumb {
	background: var(--dark-mode-tertiary-background-color);
}

.icon-button, .item-input label {
	display: inline-flex;
	width: 35px;
	height: 35px;
	background-color: var(--button-color);
	border: 1px solid var(--button-border-color);
	color: var(--button-text-color);
	border-radius: 100%;
	text-decoration: none;
	transition: border-color 0.2s, background-color 0.2s;
	cursor: pointer;
	text-align: center;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.item-input label {
	position: relative;
	cursor: pointer;
}

.dark-mode .icon-button, .dark-mode .item-input label {
	background-color: var(--dark-mode-button-color);
	color: var(--dark-mode-button-text-color);
	border-color: var(--dark-mode-button-border-color);
}

.icon-button:hover, .item-input label:hover {
	background-color: var(--button-hover-color);
	border-color: var(--button-hover-border-color);
}

.dark-mode .icon-button:hover, .dark-mode .item-input label:hover {
	background-color: var(--dark-mode-button-hover-color);
	border-color: var(--dark-mode-button-hover-border-color);
}

.icon-button:active, .item-input label:active {
	background-color: var(--button-active-color);
	border-color: var(--button-active-border-color);
	color: var(--button-active-text-color);
}

.dark-mode .icon-button:active, .dark-mode .item-input label:active {
	background-color: var(--dark-mode-button-active-color);
	border-color: var(--dark-mode-button-active-border-color);
	color: var(--dark-mode-button-active-text-color);
}

.warning {
	color: red;
	font-weight: 600;
	font-size: 15px;
	display: none;
	cursor: help;
}

.item-flex {
	display: inline-flex;
	gap: 3px;
}

.info-bubble::after {
	content: attr(aria-label);
	display: block;
	position: absolute;
    font-size: 16px;
	font-family: var(--default-font-family);
	font-weight: 400;
	color: var(--default-text-color);
    width: max-content;
    left: 50%;
    transform: translate(-50%, 4px);
    background-color: var(--primary-background-color);
	box-shadow: 0 0 5px #000;
	padding: 3px 5px;
	user-select: none;
	pointer-events: none;
	opacity: 0;
	z-index: 9;
	border-radius: 3px;
	transition: opacity 0.2s;
}

.dark-mode .info-bubble::after {
	color: var(--dark-mode-text-color);
}

.info-bubble::before {
    content: '';
    border-bottom: 4px solid var(--primary-background-color);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    width: 0;
    height: 0;
	left: 50%;
	transform: translate(-50%);
	top: calc(100% + 1px);
    position: absolute;
	z-index: 10;
	opacity: 0;
	transition: opacity 0.2s;
}

.dark-mode .info-bubble::after {
	background-color: var(--dark-mode-primary-background-color);
}

.dark-mode .info-bubble::before {
    border-bottom: 4px solid var(--dark-mode-primary-background-color);
}

.info-bubble:hover::after, .info-bubble:hover::before {
	opacity: 1;
}

.download-overlay-download-button-wrapper {
	display: inline-block;
	position: relative;
}

@keyframes clouds {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 480px;
	}
}