@font-face {
	font-family: 'Minecraft';
	src: url("/assets/Minecraft-Font/Minecraft.eot?") format("embedded-opentype"),
	     url("/assets/Minecraft-Font/Minecraft.ttf") format("truetype"),
		 url("/assets/Minecraft-Font/Minecraft.woff") format("woff"),
		 url("/assets/Minecraft-Font/Minecraft.woff2") format("woff2");
		
	font-weight: normal;
}

@font-face {
	font-family: 'Minecraft';
	src: url("/assets/Minecraft-Font/Minecraft-Bold.eot?") format("embedded-opentype"),
	     url("/assets/Minecraft-Font/Minecraft-Bold.ttf") format("truetype"),
		 url("/assets/Minecraft-Font/Minecraft-Bold.woff") format("woff"),
		 url("/assets/Minecraft-Font/Minecraft-Bold.woff2") format("woff2");
		
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Determination';
	src: url("/assets/Determination-Font/Determination.ttf") format("truetype");
		
	font-weight: normal;
}

.minecraft-side {
	width: 100%;
	min-height: 60dvh;
  	box-sizing: border-box;
  	margin-bottom: 10px;
}

.info-bubble {
	position: relative;
}

.download-tooltip {
	margin-top: 10px;
}

.item-input, .download-tooltip {
	display: inline-block;
}

.item-input input {
	position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
    display: block;
}

.item-output {
	display: inline-block;
	position: relative;
	margin-top: 15px;
	height: 36px;
}

.item-output::before {
	content: '';
	display: none;
	width: 32px;
	height: 32px;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 2;
}

.item-output:hover::before {
	display: block;
}

.output-slot {
	width: 36px;
}

.output-item {
	position: absolute;
	width: 32px;
	top: 2px;
	left: 2px;
}

.output-slot, .output-item {
	image-rendering: pixelated;
}

.item-count {
	position: absolute;
	right: 0;
	bottom: 0.7em;
	font-family: Minecraft,"WenQuanYi Bitmap Song",SimSun,Unifont,NISC18030,Beijing,Courier,sans-serif;
	color: #ffffff;
	text-shadow: 0.125em 0.125em 0 #3f3f3f;
	font-size: 16px;
	user-select: none;
	line-height: 0;
	white-space: pre;
	word-spacing: 0.25em;
}

.offscreen {
    position: absolute;
    left: -100000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.minecraft-text-input {
	width: 100%;
    height: 2.25rem;
    box-sizing: border-box;
}

.text-input-wrapper {
	display: inline-flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.tip-line {
	display: inline-block;
	position: relative;
	margin: 0;
}

.shadow-line {
	position: absolute;
    left: 0.5em;
    top: 0.125em;
    z-index: -1;
}

.text-line, .shadow-line, .item-count {
	filter: url(#crispify);
}

.c-m .shadow, .c-n .shadow-line {
	top: 0.375em;
}

.k-manager {
	display: none;
}

.saved-tooltip {
	display: inline-block;
	width: 19.75em;
	flex: 1 1 auto;
}

.saved-tooltip-text {
	display: inline;
	position: relative;
	max-width: 18em;
	top: 0;
	left: 0;
	background-color: #100010;
	background-color: rgba(16, 0, 16, 0.94);
	padding: 0.375em;
	font-family: Minecraft, sans-serif;
	font-size: 16px;
	word-spacing: 4px;
	white-space: nowrap;
	line-height: 1.25em;
	margin: 0.125em 0.25em;
	cursor: pointer;
}

.saved-tooltip-text > span {
	display: inline-block;
	max-width: 18em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.saved-tooltip-text::before {
	content: "";
	position: absolute;
	top: 0.125em;
	right: -0.125em;
	bottom: 0.125em;
	left: -0.125em;
	border: 0.15em solid #100010;
	border-style: none solid;
	border-color: rgba(16, 0, 16, 0.94);
}

.saved-tooltip-text::after {
	content: "";
	position: absolute;
	top: 0.125em;
	right: 0;
	bottom: 0.125em;
	left: 0;
	border: 0.125em solid #2D0A63;
	border-image: -webkit-linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31)) 1;
	border-image: linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31)) 1;
}

.saved-tooltips {
	display: flex;
	width: 45rem;
	max-width: 100vw;
	max-width: 100dvw;
	flex-wrap: wrap;
	gap: 0.5em;
	margin-top: 1rem;
	margin-bottom: 6rem;
}

.text-line {
	position: relative;
	display: inline-block;
}

.shadow-line {
	position: absolute;
	display: inline-block;
	top: 0.125em;
	left: 0.5em;
}

.no-break-space {
	display: inline-block;
	width: 0.75em;
}

.minecraft-background, .minecraft-background::before {
	background-size: 480px;
	image-rendering: pixelated;
}

.minecraft-background {
	position: relative;
	background-color: #bfa7d4;
	background-image: url("/assets/minecrafttooltips/clouds.png");
	animation: clouds 30s linear infinite;
}

.minecraft-background::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 480px;
	background-image: url("/assets/minecrafttooltips/background.png");
	transform: translateX(-100%);
	left: 100%;
}

.minecraft-background * {
	z-index: 1;
}

.minecraft-flex {
	display: flex;
	flex-wrap: wrap;
}

.minecraft-side {
	padding: 1rem;
	box-sizing: border-box;
	max-width: 100vw;
	max-width: 100dvw;
}

@media screen and (min-width: 900px) {
	.minecraft-side {
		height: 100dvh;
		margin-bottom: 0;
	}

	.minecraft-flex {
		flex-wrap: nowrap;
		flex-direction: row;
	}

	.saved-tooltips {
		margin-bottom: 0;
	}
}

.minecraft-text-output-container {
	background: none;
	display: inline-block;
	position: relative;
}

.download-tooltip-wrapper, .download-item-wrapper {
	position: relative;
	display: inline-block;
}

.download-tooltip-wrapper {
	margin-top: 5px;
}

.minecraft-output-border, .minecraft-tip-border {
	display: block;
	position: absolute;
	z-index: 11;
	top: 2px;
	left: 2px;
	padding: 2px;
	height: calc(100% - 8px);
	width: calc(100% - 8px);
	background-image: linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31));
	background-origin: border-box;
	background-repeat: no-repeat;
	clip-path: polygon(0% 0%, 0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%);
}

.download-overlay {
	position: fixed;
	display: flex;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 9999;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.download-overlay-background {
	position: absolute;
	z-index: 9998;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.download-overlay-window {
	position: relative;
	background-color: var(--primary-background-color);
	border-radius: 3px;
	text-align: left;
	z-index: 9999;
	box-shadow: 0 0 5px #000;
	padding: 1em;
	width: fit-content;
}

.dark-mode .download-overlay-window {
	background-color: var(--dark-mode-primary-background-color);
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 400px;
  height: 16px;
  border-radius: 8px;
  background: var(--secondary-background-color);
  outline: none;
  opacity: 0.7;
  margin: 0;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.dark-mode .slider {
	background: var(--dark-mode-secondary-background-color)
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 24px;
  background: var(--tertiary-background-color);
  border-radius: 4px;
  cursor: ew-resize;
}

.dark-mode .slider::-webkit-slider-thumb {
	background: var(--dark-mode-tertiary-background-color);
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--tertiary-background-color);
  cursor: pointer;
}

.dark-mode .slider::-moz-range-thumb {
	background: var(--dark-mode-tertiary-background-color);
}

.warning {
	color: red;
	font-weight: 600;
	font-size: 15px;
	display: none;
	cursor: help;
}

.info-bubble::after {
	content: attr(aria-label);
	display: block;
	position: absolute;
    font-size: 16px;
	font-family: var(--default-font-family);
	color: var(--default-text-color);
    width: max-content;
    left: 50%;
    transform: translate(-50%, 4px);
    background-color: var(--primary-background-color);
	box-shadow: 0 0 5px #000;
	padding: 3px 5px;
	user-select: none;
	pointer-events: none;
	opacity: 0;
	z-index: 9;
	border-radius: 3px;
	transition: opacity 0.2s;
}

.dark-mode .info-bubble::after {
	color: var(--dark-mode-text-color);
}

.info-bubble::before {
    content: '';
    border-bottom: 4px solid var(--primary-background-color);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    width: 0;
    height: 0;
	left: 50%;
	transform: translate(-50%);
	top: calc(100% + 1px);
    position: absolute;
	z-index: 10;
	opacity: 0;
	transition: opacity 0.2s;
}

.dark-mode .info-bubble::after {
	background-color: var(--dark-mode-primary-background-color);
}

.dark-mode .info-bubble::before {
    border-bottom: 4px solid var(--dark-mode-primary-background-color);
}

.info-bubble:hover::after, .info-bubble:hover::before {
	opacity: 1;
}

.download-overlay-download-button-wrapper, .download-overlay-close-button-wrapper {
	display: inline-block;
	position: relative;
}

.tooltip {
	image-rendering: pixelated;
	z-index: 10;
}

.follow-cursor {
	position: fixed;
	z-index: 11;
}

@keyframes clouds {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 480px;
	}
}