@font-face {
	font-family: 'Alexandria';
	src: url(/assets/Alexandria-Font/Alexandria-VariableFont_wght.ttf) format("truetype");
}

body {
	font-family: Alexandria,monospace,sans-serif;
	font-size: 16px;
	font-variation-settings: "wght" 350;
}

.minor {
	color: #999;
}

.orbit-data-table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

.orbit-data-table td, .orbit-data-table th {
	border: 2px solid #ddd;
	padding: 4px 10px;
	text-align: center;
}

.orbit-data-table th {
	text-align: center;
}

.orbit-data-table caption {
	margin-bottom: 8px;
}

.itinerario-color {
	width: 25px;
    height: 25px;
    display: inline-block;
    border: 2px solid #ddd;
    vertical-align: middle;
    margin-right: 5px;
}

.table-color {
	margin-left: 15px;
	margin-right: 15px;
}

.itinerario-bg {
	background-color: #ddf;
}

.desconhecido-bg {
	background-color: #fdd;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.empty {
	border: none !important;
}