.game-flexbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 0.375em;
    user-select: none;
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
}

.guess-container {
    display: inline-flex;
    position: absolute;
    left: calc(100% + 1em);
    top: 50%;
    transform: translateY(-50%);
    width: max-content;
}

.character-slots-container {
    display: inline-block;
    position: relative;
}

.character-slot {
    display: inline-flex;
    width: 3em;
    height: 3em;
    border-radius: 0.3em;
    border-color: var(--button-border-color);
    border-width: 0.3em;
    border-style: solid;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: border-width 0.125s;
}

.character-slot:hover, .character-slot.selected {
    border-width: 0.4em;
    box-sizing: border-box;
    transition: border-width 0.06125s;
}

.character-slot.locked {
    filter: opacity(0.5);
    border-width: 0.3em;
    cursor: not-allowed;
}

.character-slot.error {
    border-color: #ff0000;
}

.character-slot.duplicate-letter {
    border-color: #ff9900;
}

.character-slot.win {
    border-color: lightgreen;
}

.character-slots {
    display: flex;
    gap: 0.25em;
}

.indicator {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    border-width: 0.3em;
    border-color: var(--button-border-color);
    border-style: solid;
}

.indicator.correct-in-correct-place {
    background-color: var(--button-border-color);
}

.indicator.wrong {
    opacity: 0.5;
    border-style: dotted;
}

.wrong {
    visibility: hidden;
}

.indicate-wrong-characters .wrong {
    visibility: visible;
}

.vertical-align-middle {
    vertical-align: middle;
}

.keyboard {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 36em;
    width: min(36em, 100svw);
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 2em;
    gap: 0.3em;
}

.key {
    border-width: 0.3em;
    border-color: var(--button-border-color);
    border-width: 0.3em;
    border-style: solid;
}

.text-input {
    width: 3em;
    height: 1.4em;
    max-width: 95vw;
    max-width: 95svw;
    font-family: var(--default-font-family);
    background-color: var(--text-input-color);
    border: 2px solid var(--text-input-color);
    padding: 5px;
    padding-right: 5px;
    padding-left: 5px;
    outline: none;
    border-radius: 32px;
    color: var(--default-text-color);
    transition: background-color 0.2s;
    padding-left: 10px;
    padding-right: 10px;
}

.invisible {
    display: none;
}