:root {
	--default-text-color: #000000;
	--dark-mode-text-color: #ffffff;
	--minor-text-color: #777777;
	--dark-mode-minor-text-color: #777777;
	--button-dark-mode-text-color: #ffffff;
	--dark-mode-button-dark-mode-text-color: #777777;
	--button-active-text-color: #ffffff;
	--dark-mode-button-active-text-color: #ffffff;
	--button-color: transparent;
	--dark-mode-button-color: transparent;
	--text-input-color: #eeeeee;
	--dark-mode-text-input-color: #302f30;
	--text-input-active-color: #aaaaaa;
	--dark-mode-text-input-active-color: #222222;
	--button-hover-color: transparent;
	--dark-mode-button-hover-color: transparent;
	--button-active-color: #222222;
	--dark-mode-button-active-color: #222222;
	--button-text-color: #000000;
	--dark-mode-button-text-color: #ffffff;
	--button-border-color: #777777;
	--dark-mode-button-border-color: #777777;
	--button-hover-border-color: #aaaaaa;
	--dark-mode-button-hover-border-color: #999999;
	--button-active-border-color: #999999;
	--dark-mode-button-active-border-color: #999999;
	--checkbox-border-color: #777777;
	--checkbox-hover-border-color: #aaaaaa;
	--checkbox-checked-border-color: #aaaaaa;
	--checkbox-checked-hover-border-color: #ffffff;
	--checkbox-disabled-border-color: #222222;
	--primary-background-color: #ffffff;
	--dark-mode-primary-background-color: #171617;
	--secondary-background-color: #eeeeee;
	--dark-mode-secondary-background-color: #302f30;
	--tertiary-background-color: #000000;
	--dark-mode-tertiary-background-color: #ffffff;
	--default-font-family: 'Atkinson Hyperlegible', monospace, Helvetica, Arial, sans-serif;
	--default-font-size: 18px;
	--social-link-color: #000000;
	--social-link-hover-color: #ffffff;
	--dark-mode-social-link-color: #ffffff;
	--dark-mode-social-link-hover-color: #171617;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url("/assets/Atkinson-Hyperlegible-Font/EOT/Atkinson-Hyperlegible-Regular-102.eot?") format("embedded-opentype"),
	     url("/assets/Atkinson-Hyperlegible-Font/TTF/Atkinson-Hyperlegible-Regular-102.ttf") format("truetype"),
		 url("/assets/Atkinson-Hyperlegible-Font/WOFF/Atkinson-Hyperlegible-Regular-102.woff") format("woff"),
		 url("/assets/Atkinson-Hyperlegible-Font/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
		 url("/assets/Atkinson-Hyperlegible-Font/SVG/Atkinson-Hyperlegible-Regular-102.svg") format("svg");
		 
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url("/assets/Atkinson-Hyperlegible-Font/EOT/Atkinson-Hyperlegible-Bold-102.eot?") format("embedded-opentype"),
	     url("/assets/Atkinson-Hyperlegible-Font/TTF/Atkinson-Hyperlegible-Bold-102.ttf") format("truetype"),
		 url("/assets/Atkinson-Hyperlegible-Font/WOFF/Atkinson-Hyperlegible-Bold-102.woff") format("woff"),
		 url("/assets/Atkinson-Hyperlegible-Font/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
		 url("/assets/Atkinson-Hyperlegible-Font/SVG/Atkinson-Hyperlegible-Bold-102.svg") format("svg");
		 
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url("/assets/Atkinson-Hyperlegible-Font/EOT/Atkinson-Hyperlegible-BoldItalic-102.eot?") format("embedded-opentype"),
	     url("/assets/Atkinson-Hyperlegible-Font/TTF/Atkinson-Hyperlegible-BoldItalic-102.ttf") format("truetype"),
		 url("/assets/Atkinson-Hyperlegible-Font/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff"),
		 url("/assets/Atkinson-Hyperlegible-Font/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2") format("woff2"),
		 url("/assets/Atkinson-Hyperlegible-Font/SVG/Atkinson-Hyperlegible-BoldItalic-102.svg") format("svg");
		 
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url("/assets/Atkinson-Hyperlegible-Font/EOT/Atkinson-Hyperlegible-Italic-102.eot?") format("embedded-opentype"),
	     url("/assets/Atkinson-Hyperlegible-Font/TTF/Atkinson-Hyperlegible-Italic-102.ttf") format("truetype"),
		 url("/assets/Atkinson-Hyperlegible-Font/WOFF/Atkinson-Hyperlegible-Italic-102.woff") format("woff"),
		 url("/assets/Atkinson-Hyperlegible-Font/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
		 url("/assets/Atkinson-Hyperlegible-Font/SVG/Atkinson-Hyperlegible-Italic-102.svg") format("svg");
		 
	font-weight: normal;
	font-style: italic;
}

html {
	min-height: 100%;
	min-width: 100%;
}

body {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	margin: 0;
	font-family: var(--default-font-family);
	font-size: var(--default-font-size);
}

.dark-mode {
	color: var(--dark-mode-text-color);
	background-color: var(--dark-mode-secondary-background-color);
}

.button {
	font-family: inherit;
	font-size: inherit;
	background-color: var(--button-color);
	border: 1px solid var(--button-border-color);
	color: var(--button-text-color);
	padding: 4px 12px;
	border-radius: 3px;
	text-decoration: none;
	transition: border-color 0.2s, background-color 0.2s;
}

.button {
	cursor: pointer;
}

.dark-mode .button, .dark-mode .item-input label {
	background-color: var(--dark-mode-button-color);
	color: var(--dark-mode-button-text-color);
	border-color: var(--dark-mode-button-border-color);
}

.button:hover, .item-input label:hover {
	background-color: var(--button-hover-color);
	border-color: var(--button-hover-border-color);
}

.dark-mode .button:hover, .dark-mode .item-input label:hover {
	background-color: var(--dark-mode-button-hover-color);
	border-color: var(--dark-mode-button-hover-border-color);
}

.button:active, .item-input label:active {
	background-color: var(--button-active-color);
	border-color: var(--button-active-border-color);
	color: var(--button-active-text-color);
}

.dark-mode .button:active, .dark-mode .item-input label:active {
	background-color: var(--dark-mode-button-active-color);
	border-color: var(--dark-mode-button-active-border-color);
	color: var(--dark-mode-button-active-text-color);
}

.main-page-header-image {
	height: 400px;
	background-image: linear-gradient(transparent, 80%, #000), url('/assets/pedro-logo.png');
	background-position: center;
	background-size: auto 150%;
	background-repeat: no-repeat;
	text-align: center;
	line-height: 400px;
	text-shadow: 0 0 10px black;
	color: #ffffff;
}

.dark-mode .main-page-header-image {
	background-image: linear-gradient(transparent, var(--dark-mode-secondary-background-color)), url('/assets/pedro-logo.png');
}

.main-page-header-text {
	margin: 0;
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
}

.website-divider:nth-of-type(odd) {
	background-color: var(--secondary-background-color);
}

.website-divider {
	background-color: var(--primary-background-color);
	min-height: 200px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	max-width: 100vw;
}

.dark-mode .website-divider:nth-of-type(odd) {
	background-color: var(--dark-mode-secondary-background-color);
}

.dark-mode .website-divider {
	background-color: var(--dark-mode-primary-background-color);
}

.dark-mode-toggle, .minor {
	color: var(--minor-text-color);
	font-size: 15px;
	font-style: italic;
}

.dark-mode .minor {
	color: var(--dark-mode-minor-text-color);
}

.dark-mode-toggle {
	display: inline-block;
	color: var(--button-dark-mode-text-color);
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 5px;
}

.dark-mode .dark-mode-toggle {
	color: var(--dark-mode-button-dark-mode-text-color);
}

.dark-mode-toggle:hover {
	color: var(--dark-mode-button-dark-mode-text-color);
	background-color: var(--dark-mode-primary-background-color);
}

.social-link {
	display: inline-block;
	height: 0;
}

.social-link svg {
	fill: var(--social-link-color);
	max-width: 21px;
	max-height: 21px;
	cursor: pointer;
}

.dark-mode .social-link svg {
	fill: var(--dark-mode-social-link-color);
}

.item-flex {
	display: inline-flex;
	gap: 3px;
}

.icon-button, .item-input label {
	display: inline-flex;
	width: 35px;
	height: 35px;
	background-color: var(--button-color);
	border: 1px solid var(--button-border-color);
	color: var(--button-text-color);
	border-radius: 100%;
	text-decoration: none;
	transition: border-color 0.2s, background-color 0.2s;
	cursor: pointer;
	text-align: center;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.item-input label {
	position: relative;
	cursor: pointer;
}

.dark-mode .icon-button, .dark-mode .item-input label {
	background-color: var(--dark-mode-button-color);
	color: var(--dark-mode-button-text-color);
	border-color: var(--dark-mode-button-border-color);
}

.icon-button:hover, .item-input label:hover {
	background-color: var(--button-hover-color);
	border-color: var(--button-hover-border-color);
}

.dark-mode .icon-button:hover, .dark-mode .item-input label:hover {
	background-color: var(--dark-mode-button-hover-color);
	border-color: var(--dark-mode-button-hover-border-color);
}

.icon-button:active, .item-input label:active {
	background-color: var(--button-active-color);
	border-color: var(--button-active-border-color);
	color: var(--button-active-text-color);
}

.dark-mode .icon-button:active, .dark-mode .item-input label:active {
	background-color: var(--dark-mode-button-active-color);
	border-color: var(--dark-mode-button-active-border-color);
	color: var(--dark-mode-button-active-text-color);
}

.youtube-link-inside {
	fill: var(--secondary-background-color);
}

.dark-mode .youtube-link-inside {
	fill: var(--dark-mode-secondary-background-color);
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.main-page-link {
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 9999;
}

.main-page-link img {
	width: 64px;
}

.main-page-link:hover img {
	filter: invert(1);
}

.project-flexbox {
	width: 517px;
	max-width: fit-content;
	display: flex;
	flex-wrap: wrap;
	flex: 256px 1;
	justify-content: center;
	gap: 5px;
	position: relative;
}

.project-flexbox img {
	border-radius: 5px;
	width: 256px;
	image-rendering: pixelated;
	transition: filter 0.2s;
}

.project-flexbox a::before {
	content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;
    height: 100%;
	z-index: 1;
    border-radius: 5px;
	background-color: transparent;
	transition: background-color 0.2s;
}

.project-flexbox a:hover::before {
    background-color: rgba(255, 255, 255, 0.1);
}

.project-flexbox a {
	height: 64px;
	position: relative;
}

.blog-post-flexbox {
	position: absolute;
	width: 610px;
	max-width: 95vw;
	display: flex;
	flex-wrap: wrap;
	flex: 200px;
	justify-content: center;
	gap: 5px;
}

.blog-post {
	position: relative;
	width: 100%;
	padding-top: 150px;
	display: inline-block;
	overflow: hidden;
}

.blog-post img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	image-rendering: pixelated;
	object-fit: cover;
}

.footer {
	position: relative;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.footer-language-select {
	margin-top: 10px;
}

@media (any-pointer: coarse) {
	:root {
		--default-font-size: 5vw;
	}
	
	.minor {
		font-size: 2vw;
	}
	
	.dark-mode-toggle {
		font-size: 4vw;
	}
	
	.website-divider {
		min-height: 50vh;
	}
	
	.social-link svg {
		height: 20vw;
	}
	
	/*
	input[type="checkbox"] {
		width: 50px;
		height: 50px;
		max-width: 100vw;
		max-height: 100vw;
	}
	*/
}

.checkbox-container {
	position: relative;
	display: inline-block;
	width: 26px;
	height: 26px;
	border-radius: 3px;
	outline: 0;
	background-color: #36393f;
	box-shadow: inset 0 0 0 1px var(--checkbox-border-color);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	vertical-align: sub;
	transition: box-shadow 0.2s;
}

.checkbox-container:hover {
	box-shadow: inset 0 0 0 1px var(--checkbox-hover-border-color);
}

.checkbox-container input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	cursor: pointer;
	height: 24px;
	width: 24px;
	margin: 0;
}

.checkbox-container input[type="checkbox"]:checked, .checkbox-container input[type="checkbox"]:disabled {
	opacity: 1;
}

.checkbox-container input[type="checkbox"]:checked:before {
	content: '';
	display: block;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 26px;
	height: 26px;
	border-radius: 3px;
	background-color: #36393f;
	box-shadow: inset 0 0 0 1px var(--checkbox-checked-border-color);
	background-image: url("/assets/checkmark.svg");
	background-repeat: no-repeat;
    background-position: 4px;
	transition: box-shadow 0.2s;
}

.checkbox-container:hover input[type="checkbox"]:checked:before {
	box-shadow: inset 0 0 0 1px var(--checkbox-checked-hover-border-color);
}

.checkbox-container input[type="checkbox"]:disabled:after {
	content: '';
	display: block;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 26px;
	height: 26px;
	border-radius: 3px;
	background-color: #36393f;
	box-shadow: inset 0 0 0 1px var(--checkbox-disabled-border-color), 2px 2px 0 var(--checkbox-disabled-border-color), -2px 2px 0 var(--checkbox-disabled-border-color), 2px -2px 0 var(--checkbox-disabled-border-color), -2px -2px 0 var(--checkbox-disabled-border-color);
	transition: box-shadow 0.2s;
	cursor: not-allowed;
}

.checkbox-container input[type="checkbox"]:checked:disabled:after {
	background-color: rgba(54, 57, 63, 0.5);
}

.checkbox-container input[type="checkbox"]:checked:disabled:before {
	box-shadow: none;
}

.hidden {
	display: none !important;
}