---
layout: base
---

{{ content }}
<div class="footer{% if page.footer-fixed %} fixed{% endif %}">
	<div class="footer-language-select">
		<a href="#" onclick="changeLanguage('en');" class="button">English</a> 
		<a href="#" onclick="changeLanguage('pt');" class="button">Português</a>
		<a href="#" onclick="changeLanguage('sl');" class="button">Slovenščina</a>
	</div>
	<p class="minor"><span data-translate-string='{"translate":"footer-text"}'>[criado por Pedro270707]</span> (<a class="minor" href="https://github.com/Pedro270707/pedro270707.github.io">GitHub</a>)</p>
</div>