<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
		<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.ico">
		<title>Pedro270707</title>
		
		<meta content="{{ page.title }}" property="og:title" />
		<meta content="Meu site pessoal. My personal website. Mi sitio web personal. Mon site perso." property="og:description" />
		<meta content="https://pedro270707.github.io" property="og:url" />
		<meta content="{{ site.baseurl }}/assets/pedro-logo.png" property="og:image" />
		<meta content="#777777" data-react-helmet="true" name="theme-color" />
		
		<meta name="keywords" content="Pedro, Developer, Artist, Pixel, Pixelart, Pixelartist, Fun, Minigames, Games">
		
		<link rel="preload" href="{{ site.baseurl }}/assets/Atkinson-Hyperlegible-Font/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="{{ site.baseurl }}/assets/Atkinson-Hyperlegible-Font/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="{{ site.baseurl }}/assets/Atkinson-Hyperlegible-Font/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="{{ site.baseurl }}/assets/Atkinson-Hyperlegible-Font/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2" as="font" type="font/woff2" crossorigin>
	</head>
	<script src="{{ site.baseurl }}/js/text.js"></script>
	<script src="{{ site.baseurl }}/js/translate.js"></script>
	<script src="{{ site.baseurl }}/js/dark-mode.js"></script>
	<body>
		{{ content }}
	</body>
</html>